<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <style>
        /* login.css line 104 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&display=swap');

/* GOOGLE FONTS */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;  
    /* background-color:#EFEFEF; */
    color: white;
    font-family: 'Montserrat', sans-serif ;
    

}

h1{
  font-family: 'Montserrat Alternates', sans-serif;
  color:white;
  font-weight: 900;
  font-size: 40px;
}

.home{
  font-size: 30px;
  color: white;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 600;
}

.login{
  font-size: 15px;
  color: #112b3c;
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
}

body {
  color: #000000;
  font-family: Sans-Serif;
  /* background-color: #000000; */
  /* background-image: url('chrome-untrusted://new-tab-page/custom_background_image?url=https%3A%2F%2Flh3.googleusercontent.com%2Fproxy%2FFWOBAVfQYasxV3KURX1VVKem1yOC2iazWAb8csOmqCDwI1CCzAA1zCpnAxR-wL2rbfZNcRHbI5b-SZfLASmF7uhJnzrksBWougEGlkw_-4U%3Dw3840-h2160-p-k-no-nd-mv'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  
}

.cta{
  padding: 2px;

}
/* Navbar css starts */

li a button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #edf0f1;
    text-decoration: none; 
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 25vh;
    padding: 30px 10% ;
    padding-top: 0;
}

.nav-links{
    list-style: none;

}

.nav-links li {
    display: inline-block;
    padding: 0rem 1.25rem;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #0088a9;
}

button{
    padding: 9px 25px;
    background-color: #0088a9;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.btns{
    padding: 9px 25px;
    background-color: #0088a9;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: #0088a9cc;
}

/* navbar css ends ss */

/* main body css starts  */


.container{
  display: flex;
  justify-content: space-between;
}

.img{
  border: 1px solid ;
  border-radius: 10px;
  padding-right: 14px;
  padding-bottom: 22px;
  padding-top: 22px;
  padding-left: 14px;
  height: 10px;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
}

.main-container{
    /* border: 10px solid gray; */

    height: 70vh;
    display: flex;
    align-items: centre;
    position: relative;
    justify-content: center;
    cursor: pointer;
}

.text-container{
    /* border: 10px solid gray; */
    max-width: 700px;
    width: 100%;
    margin: 5vh;
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: centre;
    justify-content: center;
}

.headline{
    font-size: 60px;
    font-weight: bold;
}

.sub-headline{
    font-size:30px;
    font-weight: 500;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 10px;
}

span{
  cursor: default;
}
p{
    padding: 2px;
}


  
 a {
    text-decoration: none;
    color: #000000;
  }
  
  a:hover {
    color: #222222
  }
  
  /* Dropdown css */
  
  .dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dd-button {
    display: inline-block;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    padding:  9px 25px;
    background-color: #0088a9;
    transition: all 0.3s ease 0s;
    white-space: nowrap;
  }
  
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    /* border-top: 5px solid black; */
  }
  
   .dd-button:hover {
    /* background-color: #eeeeee; */
    /* background-color: #0088a9; */
    background-color: #0088a9cc;
  }
  
  
  .dd-input {
    display: none;
  }
  
   .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #0088a9;
    list-style-type: none;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }
  body{
    background-image: url('https://t4.ftcdn.net/jpg/02/76/15/85/240_F_276158586_h5RkwIgMQhvW1mfi7dNPV2GW1NGg3Fvb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
    </style>
</head>
<body>

    <header>
        <h1>ADHRIT</h1>
    <!-- <nav>
       <ul class="nav-links">
           <li><a class="home" href="./loginStu">Student Dashboard</a></li>
       </ul>
    </nav> -->
        <div>
            <label class="dropdown">
                <div class="dd-button">Login</div>
                <input type="checkbox" class="dd-input" id="test">
                <ul class="dd-menu">
                <a class="login" href="./loginStu"><li>Student Login</li> </a>
                <a class="login" href="./loginClg"><li>College Login</li></a>
                </ul>
            </label>
            <label class="dropdown">

        
            <div class="dd-button">Registration</div>
      
            <input type="checkbox" class="dd-input" id="test">
            <ul class="dd-menu">
          <a class="login" href="./registerStu"><li>Student Registration</li> </a>
          <a class="login" href="./registerClg"><li>College Registration</li></a>
            </ul>
            </label>
        </div>
    </header>
    <!-- <div class="container"> -->
        <div class="main-container">
            <div class="text-container">
            <span class="headline">Proof of Learning</span>
            <span class="sub-headline">Want to register as a student click below</span>
            <a class="login" href="./registerStu"><button>Register</button></a>
            </div>
        </div>
    </div>  

    

    


</body>
</html>