<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/dashboardStu" method="POST">
        <label for="">Username : </label>
        <input type="text" name="username">
        <label for="">Password : </label>
        <input type="password" name="password">
        <button type="submit" value="login">Login</button>
    </form>
</body> -->
</html>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    display: flex;
    height: 100vh;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #71b7e7,  #0088a9);
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;

}

.title{
    font-size: 25px;
    font-weight: 700;
    position: relative;
    color: #112B3C;
    font-family: 'Montserrat Alternates', sans-serif;
}

.title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(135deg, #71b7e7,  #0088a9);
    
}

.user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.input-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
        
}

.details{
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #112B3C;
    font-family: 'Montserrat Alternates', sans-serif;
}

.hi2{
    padding: 9px;

}
input{
    height: 45px;
    /* font-weight: 100; */
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    font-family: 'Montserrat Alternates', sans-serif;
    transition: all 0.3s ease;
}



input:focus, input:valid{
    border-color: #0088a9;
    /* #9b59b6 */

}

.register-btn{
    background: linear-gradient(135deg, #71b7e7, #0088a9);
    margin-top: 12px;

}


#new-task-form{
    width: 100%;
    display: flex;
    flex-wrap: unwrap;
}

#new-task-submit{
    margin: 12px;
    width: 40%;
}

#new-task-input{
    margin: 12px;
    width: 97%;
}
.content{
    width: 100%;
    margin-top: 12px;
}

.task{
    width: 100%;
    /* margin: 12px; */
    display: flex;
    justify-content: space-between;
}

.actions{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
}



.text{
    display: flex;
    flex-wrap: unwrap;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    color: #112B3C;
    font-family: 'Montserrat Alternates', sans-serif;
    border-color: #0088a9;
    
}
.edit{
    padding-right: 15px;
    padding-left: 15px;
    margin: 12px;
}

.delete{
    padding-right: 15px;
    padding-left: 15px;
    margin: 12px;
}

button{
    padding: 12;
}
    </style>
    <title>Login Adhrit </title>
</head>
<body>
    <div class="container">
        <div class="title">Student Login</div>
        <form action="/dashboardStu" method="POST">
            <div class="user-details">
                <div class="input-box">
                    <span class="details">Username</span>
                    <input type="text" name="username" placeholder="Enter your Username" >
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" name="password" placeholder="Password" >
                </div>
                
                <!-- <input type="submit"> -->
                <button type="submit" value="login">Login</button>
                
            </div>
        </form>
    </div>
</body>
</html>