<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> -->
    <!-- <button onclick="clickMe()" >Hello</button>

    <script>
        var MongoClient = require('mongodb').MongoClient;
var url = "mongodb://localhost:27017/registrationStdudent";

MongoClient.connect(url, function(err, db) {
  if (err) throw err;
  var dbo = db.db("registrationStudent");
  //Find all documents in the customers collection:
  dbo.collection("RegisterStu").find({}).toArray(function(err, result) {
    if (err) throw err;
    console.log(result);
    db.close();
  });
});

    </script> -->

    


</body>
</html>